<font size="6"><b>Performing Data Exploration of Dataset</b></font>

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

In [12]:
path = os.getcwd()
odds_data_path = 'data\\nfl_odds_data'
odds_dir_path = os.path.join(path, odds_data_path)
files = os.listdir(odds_dir_path)

df = pd.read_excel(odds_dir_path + '\\' + files[len(files)-1])
df.head(5)

   Date  Rot VH        Team  1st  2nd  3rd  4th  Final  Open Close   ML    2H
0   910  451  V     Houston    7    0    0   13     20    54  53.5  375    27
1   910  452  H  KansasCity    0   17    7   10     34   9.5   9.5 -450   3.5
2   913  453  V       Miami    0    3    0    8     11    43  41.5  290    20
3   913  454  H  NewEngland    0    7    7    7     21     7     7 -350     3
4   913  455  V   Cleveland    6    0    0    0      6  48.5  47.5  270  22.5